/* datos*/
h1{
text-align:center;
}
.intro{
text-align:center;
}
.mostrar{
margin: 0px 110px 0px 0px;
float:right;
}

.row{
background-color: #F2F2F2;
}
.container{
text-align:center;
}
img{
border: 4px solid #F5D0A9;

}
nav{
margin-left:45px;

}
