/* datos*/
h1{
text-align:center;
}
.intro{
text-align:center;
}
.mostrar{
margin: 0px 110px 0px 0px;
float:right;
}
.span8{
margin: 0px 150px 90px 0px;
background-color: #BDBDBD;
width: 70%;
float:right;
border: 4px solid #F5D0A9;
}
.row{
background-color: #F2F2F2;
}
.container{

text-align:center;
}
img{
border: 4px solid #F5D0A9;
margin-left:45px;

}
nav{
margin-left:45px;

}
